.wrapper {
    display: flex;
    justify-content: space-between;
    width: 60%;
    align-items: center;
}

.link {
    margin: 0;
    text-decoration: none !important;
}

.createBtn {
    padding: 15px !important;
}

.meWrapp {
    display: flex;
    align-items: center;
}

.iconBtn {
    position: absolute !important;
}

.icon {
    font-size: 18px;
}

.btnWrapp {
    display: flex;
    align-items: center;
}
