.form {
    width: 100%;
}

.form button {
    background: none;
    border: none;
}

.input {
    width: 90%;
    border: none;
    border-bottom: 1px solid black;
    margin-right: 5px;
    transition: border-bottom .5s;
}

.input:focus {
    outline: none;
    border-bottom: 1px solid #715AFF;
}

input:focus ~ button {
    color: #715AFF;
    transition: color .5s;
}

.icon {
    cursor: pointer;
}
